@model BO.Utilisateur
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h2>Connexion</h2>
        <hr/>
        <div class="panel panel-default">
            <div class="form-group" style="padding-top: 10px">
                @Html.LabelFor(model => model.Mail, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mail, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Mail, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Se connecter" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }