@model Oukilestkiki.ViewModels.UtilisateurCreateEditVm

@{
    ViewBag.Title = "Modification d'un utilisateur";
}

<h2>Modification d'un utilisateur</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Utilisateur</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Utilisateur.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Utilisateur.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Utilisateur.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Utilisateur.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Utilisateur.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Utilisateur.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Utilisateur.Prenom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Utilisateur.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Utilisateur.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Utilisateur.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Utilisateur.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Utilisateur.Mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Utilisateur.Mail, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (!Model.IsInscription)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Utilisateur.Suspendu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Utilisateur.Suspendu)
                        @Html.ValidationMessageFor(model => model.Utilisateur.Suspendu, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }

        @if (!Model.IsInscription)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Utilisateur.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Utilisateur.Role.Id, Model.ListeRoles.Select(role => new SelectListItem { Text = role.Libelle, Value = role.Id.ToString() }), new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Utilisateur.Role.Id, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sauvegarder" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.IsInscription)
{
    bool suppr = false;

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="submit" value="Supprimer" class="btn btn-default" onclick="affichageSuppr()"/>*@
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalCenter">
                Supprimer
            </button>
        </div>
    </div>
}

<div  id="Suppression">
    @using (Html.BeginForm("Delete", "Utilisateurs", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <p>Voulez vous vraiment supprimer votre compte ?</p>
                    <input type="submit" value="Oui" class="btn btn-default" />
                    <input value="Non" class="btn btn-default" onclick="masquerSuppr()" />
                </div>
            </div>*@
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Voulez vous vraiment supprimer votre compte ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        @*<button type="button" class="btn btn-primary">Supprimer</button>*@
                        <input type="submit" value="Supprimer" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (!Model.IsInscription)
{
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function affichageSuppr() {
            document.getElementById("Suppression").style.visibility = "visible";
        }

        function masquerSuppr() {
            document.getElementById("Suppression").style.visibility = "hidden";
        }
    </script>
}
