@model Oukilestkiki.ViewModels.MessageViewModel
@{
    ViewBag.Title = "Accueil";
}

<h2>Messagerie publique</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContenuMessage.Expediteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContenuMessage.Contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContenuMessage.DateEnvoi)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Messages)
    {
        <tr>
            <td>
                @if (item.Expediteur != null)
                {
                <span>[@Html.DisplayFor(modelItem => item.Expediteur.Role.Libelle)] @Html.DisplayFor(modelItem => item.Expediteur.NomComplet)</span>
                }
                else
                {
                    <span>Anonyme</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnvoi)
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="row">
    @using (Html.BeginForm("EnvoyerMessage", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-11">
                @Html.TextAreaFor(model => model.ContenuMessage, new { @class = "form-control fullwidth", placeholder = "Contenu du message" })
                @Html.ValidationMessageFor(model => model.ContenuMessage, "", new { @class = "text-danger" })
            </div>
        </div>
                    
        <div class="form-group">
            @Html.LabelFor(model => model.PiecesJointes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="@nameof(Model.PiecesJointes)" multiple="multiple" required />
            </div>
        </div>
        <div class="col-lg-1">
            <input type="submit" value="Envoyer" class="btn btn-default" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        // Change the selector if needed
        var $table = $('table'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

         // Get the tbody columns width array
        colWidth = $bodyCells.map(function() {
            return $(this).width();
        }).get();

        // Set the width of thead columns
        $table.find('thead tr').children().each(function(i, v) {
            $(v).width(colWidth[i]);
        }); 
    </script>

}